# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/*
!build/Makefile
!build/debian
!build/scripts
develop-eggs/
dist/
downloads/
eggs/
# lib/ 
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
testing/*.xml


# Translations
*.mo
*.pot

# Sphinx documentation
doc/_build/
doc/aut/
doc/backup/


#Profiling files
*.profile
*.timings

#PyCharm project files
.idea/

#vi
*.swp

#gedit
*~

#Emacs
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

#config files
*.cfg
src/config/*.yaml


#kate swap files
*.kate-swp

# merge orginals
*.orig

# Geometry test result files
src/*.msh
src/*.brep
src/*.geo

# Virtual environment
venv
